---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../layouts/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-4xl mx-auto mt-8">
    {
      allPosts.map((post) => (
        <BlogPost
          url={`/posts/${post.slug}`}
          title={post.data.title}
          datetime={post.data.pubDate}
        />
      ))
    }
  </div>
</BaseLayout>
