---
import Social from "./Social.astro";
---

<footer class="bg-gray-800 p-4 mt-12">
  <div class="max-w-6xl mx-auto text-center text-gray-400">
    <p>&copy; 2024 Shanshi. 保留所有权利.</p>
    <div class="mt-4 space-x-4">
      <a href="#" class="text-gray-400 hover:text-white">Facebook</a>
      <a href="#" class="text-gray-400 hover:text-white">Twitter</a>
      <a href="#" class="text-gray-400 hover:text-white">LinkedIn</a>
    </div>
  </div>
</footer>
