---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="max-w-3xl mx-auto my-8">
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
      <div class="px-6 py-4">
        <h1 class="text-4xl font-bold text-gray-800">{frontmatter.title}</h1>
        <p class="text-gray-600 text-sm mt-2">
          {frontmatter.pubDate.toString().slice(0, 10)}
        </p>
      </div>
      <slot />
    </div>
  </div>
</BaseLayout>
